<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/Style.css">

</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="image" src="/img/my_img.jpeg">
    </div>

    {{>footer}}
</body>

</html>